<!-- https://stackoverflow.com/questions/44487043/python-and-jinja2-import-template-of-another-environment -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<h3>Raster Results: Across Scenarios</h3>
{% for key, value in sdr_scenario_rasters.items() %}
    <details>
        <summary>{{ key|e }}</summary>
        <img src="{{ value }}" />
    </details>
{% endfor %}
<p>And here's some text.</p>
</body>
</html>
