<style>
    :root {
        --invest-green: #148F68;
        --invest-green-light: color-mix(in srgb, var(--invest-green), white 75%)
    }

    body {
        font-family: Arial, sans-serif;
        margin: 24px;
        max-width: 80rem;
    }

    p {
        max-width: 80ch;
    }

    details summary {
        cursor: pointer;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        background-color: var(--invest-green-light);
        filter: drop-shadow(1px 2px 3px lightgray);
    }

    dt {
        font-weight: bold;
        margin-top: 1rem;
    }

    dd {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    img {
        width: 100%;
    }
</style>
